body{
	background-color:#4d4d4d;
	
}

.buttonPanel{
	display:flex;
	justify-content: space-around;
	/*margin:auto;*/
	width:50%;
	align-items: center;
	position: fixed;
	top:0;
	left:20%;
}
#fixedDiceButtons{

}
#playArea{
	margin-top:75px;
}
@media (max-width:1000px){
	.buttonPanel{
		max-width: 100%;
	}
}
.dicediv{
	background-color:#5d5d5d;
	width:60px;
	height: 60px;
	color:white;
	border-radius:5px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right:5px;
	/*cursor: pointer;*/
	
}
.diceButton{
	cursor:pointer;
	background-color:#5d5d5d;
	width:120px;
	height: 40px;
	color:white;
	font-weight: bold;
	font-size:18px;
}
.diceButton:hover{
	opacity: 0.5;
}
.disabledDiceButton{
	background-color:#5d5d5d;
	opacity: 0.5;
	width:120px;
	height: 40px;
	color:white;
	font-weight: bold;
	font-size:18px;
}

#startScreen{
	display:block;
}
#midScreen,#endScreen{
	display: none;
}
.screenContents{
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*min-height:400px;*/
	height: 100vh;	
	justify-content: space-around; 
}
.flexRow{
	display:flex;
	max-width:80%;
	justify-content: center;	
	margin-bottom: 30px;
}

.mt30{
	margin-top:30px;
}

.midScreenDivs{
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	width:100%;
}



.labelx{
	color:white;
	margin-right:10px;
}
.darkInput{
	background-color: #4d4d4d;
	color:white;
	border:none;
	border-bottom:1px solid white;
	outline:none;
}

#playerCardContainer{
	width:90%;
	margin: auto;
	margin-top:20px;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-around;	
}
.playerCard{
	width:300px;
	height:400px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border:1px solid #a3a375;
	margin-bottom:5px;
}
.avatarSpace{
	height: 200px;
	margin-bottom: 10px;
}

#popUpWindow{
	position: absolute;
	top:20%;
	left:30%;
	width:300px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: #000000;
	opacity: 0.5;
	visibility: hidden;
	border-radius: 10px;
}
#puw__textSpace{
	color:white;
	font-weight: bold;
	text-align: center;
}
.pw__buttonSpace{
	width:100%;
	display: flex;
	justify-content: space-around;
}
#timerIndicator{
	position:absolute;
	left:40%;
	top:30%;
	/*background-color:#4d4d4d;*/
	color:red;
	width:100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 36px;
	font-weight: bold;
	visibility: hidden;
}
#startScreen,#midScreen,#endScreen{
	/*opacity: 0.5;*/
	/*background-color: #a6a6a6;*/
}
